
RewriteEngine On

# Hilangkan index.html
RewriteCond %{THE_REQUEST} \s/index\.html [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Redirect .html → tanpa ekstensi
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]

# Internal rewrite: tanpa .html tetap buka file .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+)$ $1.html [L]
